.if-section {
  background-color: black;
  height: 380px;
}

.if-section img {
  width: 300px;
}

.if-body-copy {
  color: white;
  text-align: right;
  width: 400px;
  position: relative;
  top: -200px;
}

h1 {
  color: red;
}

#logo {
  width: 200px;
  margin-left: 500px;
  margin-top: -300px;
}

h2 {
  color: grey;
  text-align: center;
  margin-top: -10px;
}
