.if-section {
  background-color: black;
  height: 380px;
}

.if-section img {
  width: 300px;
}

.if-body-copy {
  color: white;
  text-align: right;
  width: 400px;
  position: relative;
  top: -200px;
}

.line {
  margin-top: -29px;
}
h1 {
  color: #ff5c33;
}

.lower p {
  margin: 0px;

}
#logo {
  width: 200px;
  margin-left: 570px;
  margin-top: -25px;
}
hr {
  width: 700px;
  margin-left: -20px;
}
h2 {
  color: grey;
  margin-top: -20px;
  margin-left: 150px;
}

h3 {
  font-size: 1em;
}

ul{
  margin-left: -25px;
}
